<ion-header class="ion-no-border" translucent>
  <ion-toolbar no-border>

    <ion-buttons slot="start">
        <ion-back-button 
        defaultHref="/"
        ></ion-back-button>
        <!-- <ion-button><ion-icon name="menu-outline"></ion-icon></ion-button> -->
    </ion-buttons>

    <ion-title class="ion-text-capitalize ion-text-center">{{ title }}</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <!-- <ion-icon name="notifications-outline"></ion-icon> -->
        <ion-icon name="help-circle-outline"></ion-icon>
      </ion-button>
      
    </ion-buttons>
  
  
  </ion-toolbar>
</ion-header>