<app-header title="cards"></app-header>


<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-header>
      <ion-card-title>Awesome Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, sit nesciunt est optio maiores reiciendis a atque officiis. Dolore voluptates, deleniti fugiat voluptatibus distinctio non cumque amet commodi corporis enim.
    </ion-card-content>

  </ion-card>


  <ion-card>
    <img src="https://upload.wikimedia.org/wikipedia/commons/3/32/Googleplex_HQ_%28cropped%29.jpg" alt="">
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, aspernatur vero. Inventore fugiat necessitatibus porro eius nisi quis, est culpa consectetur iure quae, hic esse sit cumque illum error ullam?
    </ion-card-content>
  </ion-card>

</ion-content>
